<div class="card">
  <div class="card-body">
    <form novalidate (ngSubmit)="save(registerForm)" #registerForm="ngForm">
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="firstName"
          >First Name</label
        >
        <div class="col-md-8">
          <input
            class="form-control"
            id="firstName"
            type="text"
            placeholder="First Name (required)"
            required
            minlength="2"
            [(ngModel)]="user.firstName"
            name="firstName"
            #firstNameVar="ngModel"
            [ngClass]="{
              'is-invalid':
                (firstNameVar.touched || firstNameVar.dirty) &&
                !firstNameVar.valid
            }"
          />
          <span class="invalid-feedback">
            <span *ngIf="firstNameVar.errors?.['required']">
              Please enter your First Name.</span
            >
            <span *ngIf="firstNameVar.errors?.['minlength']">
              The First Name must be longer than 2 characters.</span
            >
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="surname">Surname</label>
        <div class="col-md-8">
          <input
            class="form-control"
            id="surname"
            type="text"
            placeholder="Surname (required)"
            required
            minlength="2"
            [(ngModel)]="user.surname"
            name="surname"
            #surnameVar="ngModel"
            [ngClass]="{
              'is-invalid':
                (surnameVar.touched || surnameVar.dirty) && !surnameVar.valid
            }"
          />
          <span class="invalid-feedback">
            <span *ngIf="surnameVar.errors?.['required']">
              Please enter your Surname.</span
            >
            <span *ngIf="surnameVar.errors?.['minlength']">
              The Surname must be longer than 2 characters.</span
            >
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="email">Email</label>
        <div class="col-md-8">
          <input
            class="form-control"
            id="email"
            type="email"
            placeholder="Email (required)"
            required
            email
            [(ngModel)]="user.email"
            name="email"
            #emailVar="ngModel"
            [ngClass]="{
              'is-invalid':
                (emailVar.touched || emailVar.dirty) && !emailVar.valid
            }"
          />
          <span class="invalid-feedback">
            <span *ngIf="emailVar.errors?.['required']">
              Please enter your email.</span
            >
            <span *ngIf="emailVar.errors?.['email']"> Enter valid email</span>
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="confirmEmail"
          >Confirm Email</label
        >
        <div class="col-md-8">
          <input
            class="form-control"
            id="confirmEmail"
            type="email"
            placeholder="Confirm Email (required)"
            required
            email
            [(ngModel)]="user.confirmEmail"
            name="confirmEmail"
            #confirmEmailVar="ngModel"
            [ngClass]="{
              'is-invalid':
                (confirmEmailVar.touched || confirmEmailVar.dirty) &&
                !confirmEmailVar.valid
            }"
          />
          <span class="invalid-feedback">
            <span *ngIf="confirmEmailVar.errors?.['required']">
              Please confirm your email.</span
            >
            <span *ngIf="confirmEmailVar.errors?.['email']">
              Enter valid email</span
            >
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="password">Password</label>
        <div class="col-md-8">
          <input
            class="form-control"
            id="password"
            type="password"
            placeholder="Password (required)"
            required
            minlength="8"
            [(ngModel)]="user.password"
            name="password"
            #passwordVar="ngModel"
            [ngClass]="{
              'is-invalid':
                (passwordVar.touched || passwordVar.dirty) && !passwordVar.valid
            }"
          />
          <span class="invalid-feedback">
            <span *ngIf="passwordVar.errors?.['required']">
              Please enter your Password.</span
            >
            <span *ngIf="passwordVar.errors?.['minlength']">
              The Password must be longer than 8 characters.</span
            >
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="confirmPassword"
          >Confirm Password</label
        >
        <div class="col-md-8">
          <input
            class="form-control"
            id="confirmPassword"
            type="password"
            placeholder="Confirm Password (required)"
            required
            minlength="8"
            [(ngModel)]="user.confirmPassword"
            name="confirmPassword"
            #confirmPasswordVar="ngModel"
            [ngClass]="{
              'is-invalid':
                (confirmPasswordVar.touched || confirmPasswordVar.dirty) &&
                !confirmPasswordVar.valid
            }"
          />
          <span class="invalid-feedback">
            <span *ngIf="confirmPasswordVar.errors?.['required']">
              Please confirm your Password.</span
            >
            <span *ngIf="confirmPasswordVar.errors?.['minlength']">
              The passwords do not match.</span
            >
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button
            class="btn btn-primary mr-3"
            type="submit"
            style="width: 150px"
            [title]="
              registerForm.valid
                ? 'Save your entered data'
                : 'Disabled until the form data is valid'
            "
            [disabled]="!registerForm.valid"
          >
            Register
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
