<div class="card">
  <div class="card-body">
    <form novalidate (ngSubmit)="save()" [formGroup]="registerForm">
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="firstName"
          >First Name</label
        >
        <div class="col-md-8">
          <input
            class="form-control"
            id="firstName"
            type="text"
            placeholder="First Name (required)"
            formControlName="firstName"
            [ngClass]="{
              'is-invalid':
                (registerForm.get('firstName')?.touched ||
                  registerForm.get('firstName')?.dirty) &&
                !registerForm.get('firstName')?.valid
            }"
          />
          <span class="invalid-feedback">
            <span *ngIf="registerForm.get('firstName')?.errors?.['required']">
              Please enter your First Name.</span
            >
            <span *ngIf="registerForm.get('firstName')?.errors?.['minlength']">
              The First Name must be longer than 2 characters.</span
            >
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="surname">Surname</label>
        <div class="col-md-8">
          <input
            class="form-control"
            id="surname"
            type="text"
            placeholder="Surname (required)"
            formControlName="surname"
            [ngClass]="{
              'is-invalid':
                (registerForm.get('surname')?.touched ||
                  registerForm.get('surname')?.dirty) &&
                !registerForm.get('surname')?.valid
            }"
          />
          <span class="invalid-feedback">
            <span *ngIf="registerForm.get('surname')?.errors?.['required']">
              Please enter your Surname.</span
            >
            <span *ngIf="registerForm.get('surname')?.errors?.['minlength']">
              The Surname must be longer than 2 characters.</span
            >
          </span>
        </div>
      </div>

      <div formGroupName="emailGroup">
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="email">Email</label>
          <div class="col-md-8">
            <input
              class="form-control"
              id="email"
              type="email"
              placeholder="Email (required)"
              formControlName="email"
              [ngClass]="{
                'is-invalid': emailMessage
              }"
            />
            <span class="invalid-feedback">
              {{ emailMessage }}
            </span>
          </div>
        </div>

        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="confirmEmail"
            >Confirm Email</label
          >
          <div class="col-md-8">
            <input
              class="form-control"
              id="confirmEmail"
              type="email"
              placeholder="Confirm Email (required)"
              formControlName="confirmEmail"
              [ngClass]="{
                'is-invalid':
                  registerForm.get('emailGroup')?.errors ||
                  ((registerForm.get('emailGroup.confirmEmail')?.touched ||
                    registerForm.get('emailGroup.confirmEmail')?.dirty) &&
                    !registerForm.get('emailGroup.confirmEmail')?.valid)
              }"
            />
            <span class="invalid-feedback">
              <span
                *ngIf="registerForm.get('emailGroup.confirmEmail')?.errors?.['required']"
              >
                Please confirm your email.</span
              >
              <span
                *ngIf="registerForm.get('emailGroup')?.errors?.['match']"
              >
                Emails do not match</span
              >
            </span>
          </div>
        </div>
      </div>

      <div formGroupName="passwordGroup">
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="password">Password</label>
          <div class="col-md-8">
            <input
              class="form-control"
              id="password"
              type="password"
              placeholder="Password (required)"
              formControlName="password"
              [ngClass]="{
                'is-invalid': registerForm.get('passwordGroup')?.errors ||
                  ((registerForm.get('passwordGroup.password')?.touched ||
                    registerForm.get('passwordGroup.password')?.dirty) &&
                  !registerForm.get('passwordGroup.password')?.valid)
              }"
            />
            <span class="invalid-feedback">
              <span
                *ngIf="registerForm.get('passwordGroup.password')?.errors?.['required']"
              >
                Please enter your Password.</span
              >
              <span
                *ngIf="registerForm.get('passwordGroup.password')?.errors?.['minlength']"
              >
                The Password must be longer than 8 characters.</span
              >
            </span>
          </div>
        </div>

        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="confirmPassword"
            >Confirm Password</label
          >
          <div class="col-md-8">
            <input
              class="form-control"
              id="confirmPassword"
              type="password"
              placeholder="Confirm Password (required)"
              formControlName="confirmPassword"
              [ngClass]="{
                'is-invalid': registerForm.get('passwordGroup')?.errors ||
                  ((registerForm.get('passwordGroup.confirmPassword')?.touched ||
                    registerForm.get('passwordGroup.confirmPassword')?.dirty) &&
                  !registerForm.get('passwordGroup.confirmPassword')?.valid)
              }"
            />
            <span class="invalid-feedback">
              <span
                *ngIf="registerForm.get('passwordGroup.confirmPassword')?.errors?.['required']"
              >
                Please confirm your Password.</span
              >
              <span
                *ngIf="registerForm.get('passwordGroup')?.errors?.['match']"
              >
                Passwords do not match.</span
              >
            </span>
          </div>
        </div>
      </div>

      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button
            class="btn btn-primary mr-3"
            type="submit"
            style="width: 150px"
            [title]="
              registerForm.valid
                ? 'Save your entered data'
                : 'Disabled until the form data is valid'
            "
            [disabled]="!registerForm.valid"
          >
            Register
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
