<div class="card">
  <div class="card-body">
    <form novalidate (ngSubmit)="save()" [formGroup]="registerForm">
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="firstName"
          >First Name</label
        >
        <div class="col-md-8">
          <input
            class="form-control"
            id="firstName"
            type="text"
            placeholder="First Name (required)"
            formControlName="firstName"
            [ngClass]="{
              'is-invalid': nameMessage
            }"
          />
          <span class="invalid-feedback">
            {{ nameMessage }}
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="surname">Surname</label>
        <div class="col-md-8">
          <input
            class="form-control"
            id="surname"
            type="text"
            placeholder="Surname (required)"
            formControlName="surname"
            [ngClass]="{
              'is-invalid': surnameMessage
            }"
          />
          <span class="invalid-feedback">
            {{ surnameMessage }}
          </span>
        </div>
      </div>

      <div formGroupName="emailGroup">
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="email">Email</label>
          <div class="col-md-8">
            <input
              class="form-control"
              id="email"
              type="email"
              placeholder="Email (required)"
              formControlName="email"
              [ngClass]="{
                'is-invalid': emailMessage
              }"
            />
            <span class="invalid-feedback">
              {{ emailMessage }}
            </span>
          </div>
        </div>

        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="confirmEmail"
            >Confirm Email</label
          >
          <div class="col-md-8">
            <input
              class="form-control"
              id="confirmEmail"
              type="email"
              placeholder="Confirm Email (required)"
              formControlName="confirmEmail"
              [ngClass]="{
                'is-invalid': confirmEmailMessage
              }"
            />
            <span class="invalid-feedback">
              <span
                *ngIf="registerForm.get('emailGroup.confirmEmail')?.errors?.['required']"
              >
                Please confirm your email. </span
              >
              {{ confirmEmailMessage }}
            </span>
          </div>
        </div>
      </div>

      <div formGroupName="passwordGroup">
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="password">Password</label>
          <div class="col-md-8">
            <input
              class="form-control"
              id="password"
              type="password"
              placeholder="Password (required)"
              formControlName="password"
              [ngClass]="{
                'is-invalid': passwordMessage
              }"
            />
            <span class="invalid-feedback">
             {{ passwordMessage }}
            </span>
          </div>
        </div>

        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="confirmPassword"
            >Confirm Password</label
          >
          <div class="col-md-8">
            <input
              class="form-control"
              id="confirmPassword"
              type="password"
              placeholder="Confirm Password (required)"
              formControlName="confirmPassword"
              [ngClass]="{
                'is-invalid': confirmPasswordMessage
              }"
            />
            <span class="invalid-feedback">
              <span
                *ngIf="registerForm.get('passwordGroup.confirmPassword')?.errors?.['required']"
              >
                Please confirm your Password. </span
              >
              {{ confirmPasswordMessage }}
            </span>
          </div>
        </div>
      </div>

      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button
            class="btn btn-primary mr-3"
            type="submit"
            style="width: 150px"
            [title]="
              registerForm.valid
                ? 'Save your entered data'
                : 'Disabled until the form data is valid'
            "
            [disabled]="!registerForm.valid"
          >
            Register
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
